/* Ensure that the navbar remains fixed at the top of the screen */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}



/* Add padding to the top of the body to create space for the fixed navbar */
body {
  padding-top: 60px; /* Adjust as needed based on the height of your navbar */
}

/* Style for active nav link */
.nav-item .nav-link.active {
  background-color: rgb(13, 110, 253);
  border-radius: 4px;
  margin: 2px;
}

/* Style for active dropdown item */
.dropdown-item.active {
  background-color: transparent; /* or any default dropdown color */
  color: black;
}

/* Style for hover state of dropdown item */
.dropdown-item:hover {
  background-color: rgb(231, 231, 231); /* or any default dropdown color */
}
