.custom-card {
    background-color: #343a40;
    color: #fff;
    border-radius: 0.5rem; /* Added border radius */
  }
  
  .custom-card-body {
    padding: 1rem; /* Adjusted padding */
  }
  
  .custom-card-title {
    font-size: 1.25rem; /* Adjusted font size */
    margin-bottom: 0.5rem; /* Adjusted margin */
  }
  
  .custom-text-center {
    text-align: center;
  }
  
  .custom-mb-3 {
    margin-bottom: 0.75rem; /* Adjusted margin */
  }
  
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  
  .custom-col-sm-3 {
    flex: 0 0 auto;
    width: 15%; /* Adjusted width */
  }
  
  .custom-col-sm-7 {
    flex: 0 0 auto;
    width: 70%; /* Adjusted width */
  }
  
  .custom-col-sm-2 {
    flex: 0 0 auto;
    width: 15%; /* Adjusted width */
  }
  
  .custom-col-form-label {
    padding-top: 0.25rem; /* Adjusted padding */
    padding-bottom: 0.25rem; /* Adjusted padding */
    margin-bottom: 0;
    font-size: 0.875rem; /* Adjusted font size */
  }
  
  .custom-form-control {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem; /* Adjusted padding */
    font-size: 0.875rem; /* Adjusted font size */
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .custom-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #6c757d;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem; /* Adjusted padding */
    font-size: 0.875rem; /* Adjusted font size */
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
  }
  
  .custom-btn-secondary {
    color: #fff;
    background-color: rgb(13, 110, 253) ;
    border-color: #6c757d;
  }
  
  .custom-btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  